<section class="product-sec">
  <div class="main-title">
    <h1>
      <img src="https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about-head-top.png?v=1677772916" alt="">
      {{ section.settings.main_title | escape }}
    </h1>
    {%- if section.settings.main_content != blank -%}
      <p>{{ section.settings.main_content | escape }}</p>
    {%- endif -%}
  </div>
  <div class="container">

    <div
      class="row prod-slider">

      {% assign selected_collection = section.settings.collection %}

      {% for product in collections[selected_collection].products %}
        <div class="col-md-4">
          <div class="product-box">
            <div class="product-img">
              <a href="{{ product.url }}">
                <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
              </a>
            </div>
            <div class="product-con">
              <h3>
                <a href="{{ product.url }}" class="text-truncate w-100">{{ product.title }}</a>
              </h3>
              <div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
              <div class="price">
                {% if product.compare_at_price > product.price %}
                  <span>USD {{ product.price | money }}</span>
                  <del>{{ product.compare_at_price | money }}</del>
                {% else %}
                  <span>USD {{ product.price | money }}</span>
                {% endif %}
              </div>
              {% comment %}<a href="{{ product.url }}" class="btn-link">Shop Now</a>{{ product.url }}{% endcomment %}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="pro-btn text-center mt-5">
      <a href="{{section.settings.button_link}}" class="btn">{{ section.settings.button_text }}</a>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Custom Product Section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "main_title",
        "default": "Multicolumn",
        "label": "Main Title"
      },
      {
        "type": "text",
        "id": "main_content",
        "default": "Multicolumn",
        "label": "Main Content"
      },
      {
        "type": "text",
        "id": "main_button_text",
        "default": "Multicolumn",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "main_button_link",
        "label": "Button Url"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          }, {
            "type": "text",
            "id": "cat_title",
            "default": "Multicolumn",
            "label": "Title"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.multicolumn.settings.button_link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Product Section",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}