<section class="ship-sec">
  <div class="container">
    <div class="ship-wrap">
      <div class="row justify-content-md-center">
        {%- for block in section.blocks -%}
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="ship-inner mb-md-5">
              <img
                src="https://cdn.shopify.com/s/files/1/0715/3156/1246/files/top-border.png?v=1678091346"
                alt=""
                class="side-border">
              <div class="img-wrap">
                <img
                  src="{{ block.settings.image | image_url }}"
                  alt=""
                  class="main-img">
              </div>
              <div class="cont-wrap">
                {% if block.settings.order_title %}
                  <h2>{{ block.settings.order_title | escape }}</h2>
                {% endif %}
                {% if block.settings.order_text %}
                  {{ block.settings.order_text }}
                {% endif %}

              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>

    </div>
    {% comment %}
    <div class="button-wrap center">
    <a href="{{ section.settings.main_button_link }}" class="button button--primary">{{ section.settings.main_button_text | escape }}</a>
    </div>  
    {% endcomment %}</div>
</section>


{% schema %}
  {
    "name": "Custom Shipping Section",
    "tag": "section",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          }, {
            "type": "text",
            "id": "order_title",
            "default": "Multicolumn",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "order_text",
            "default": "<p>Multicolumn</p>",
            "label": "Title"
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Shipping Section",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}
