<section class="faq-sec">
  <div class="main-title">
    <h1>
      <img src="https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about-head-top.png?v=1677772916" alt="">
      {{ section.settings.main_title | escape }}
    </h1>
    {%- if section.settings.main_content != blank -%}
      <p>{{ section.settings.main_content | escape }}</p>
    {%- endif -%}
  </div>
  <div class="container">
    <div class="accordion" id="accordionExample">
      {%- for block in section.blocks -%}
        {% assign someVar = someVar | plus: 1 %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ someVar }}">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse{{ someVar }}"
              aria-expanded="false"
              aria-controls="collapse{{ someVar }}">
              {{ block.settings.question }}
            </button>
          </h2>
          <div
            id="collapse{{ someVar }}"
            class="accordion-collapse collapse"
            aria-labelledby="heading{{ someVar }}"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {{ block.settings.answer }}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>



</section>

{% schema %}
  {
    "name": "Custom FAQ",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "main_title",
        "default": "Multicolumn",
        "label": "Main Title"
      }, {
        "type": "text",
        "id": "main_content",
        "default": "Multicolumn",
        "label": "Main Content"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          }, {
            "type": "richtext",
            "id": "answer",
            "default": "<p>answer</p>",
            "label": "t:sections.multicolumn.settings.button_link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom FAQ",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}