<section class="about-sec">
  <div class="container-fluid">

    <div class="about-wrap">
      <div class="main-title">
        <h1>{{ section.settings.main_title | escape }}</h1>
        <p>{{ section.settings.main_content | escape }}</p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="about-img">
            <img src="{{ section.settings.left_image | image_url }}" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-img">
            <img src="{{ section.settings.center_image | image_url }}" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-img">
            <img src="{{ section.settings.right_image | image_url }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Custom About Section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "main_title",
        "default": "Multicolumn",
        "label": "Main Title"
      },
      {
        "type": "text",
        "id": "main_content",
        "default": "Multicolumn",
        "label": "Main Content"
      },
      {
        "type": "image_picker",
        "id": "center_image",
        "label": "Center Image"
      },
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      }, {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
      }
    ],
    "presets": [
      {
        "name": "Custom About Section"
      }
    ]
  }
{% endschema %}